* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
  background-image: linear-gradient(#ffffff7f, #ffffff7f), url("background.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
